body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.btn {
    margin-top: 1rem;
}

